/* 
Defaults 
*/

:root {
    --brand-blue: #59bdc5;
    --brand-black: #2c2a29;
    --brand-light-blue: #ceebee;
    --brand-white: #f4f4f4;
    --paragraph-size-desktop: 1.7rem;
    --paragraph-size-mobile: 1.6rem;
    --main-font-family-reg: "objectivebold", sans-serif;
    --main-font-family-bold: "objectiveregular", sans-serif;
    --secondary-font-family: "poppinsbold", serif;
}

html {
    font-size: 62.5%;
}

.standard-text {
    font-family: var(--main-font-family-reg);
    font-size: var(--paragraph-size-desktop);
}


/* 
Header
*/

/* 
Footer
*/

/* 
Responsive
*/

@media (max-width: 991px) {
   
}

@media (max-width: 767px) {

}

@media (max-width: 575px) {

}

@media (max-width: 400px) {

}